@import "tailwindcss";

:root {
  --background: #222222;
  --font-sans: var(--font-orbitron); /* Apply Orbitron globally */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-tactic-sans), sans-serif;
}

/* Hide scrollbar for all browsers */
::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, Edge */
}

html {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
}
@font-face {
  font-family: "Tactic Sans";
  src: url("/fonts/TacticSans-Regular.woff2") format("woff2"),
       url("/fonts/TacticSans-Regular.woff") format("woff"),
       url("/fonts/TacticSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll var(--animation-duration, 40s) linear infinite var(--animation-direction, forwards);
}
